@import "tailwindcss";

:root {
  /* Light Mode */
  --main-primary: #ffffff;
  --main-primary-light: #f8fafc;
  --main-secondary: #f1f5f9;
  --main-secondary-light: #e2e8f0;
  --text-primary: #0f172a;
  --text-primary-light: #334155;
  --text-secondary: #475569;
  --text-secondary-light: #64748b;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Mode (Requested Base) */
    --main-primary: #060606;
    --main-primary-light: #363636;
    --main-secondary: #0a0c12;
    --main-secondary-light: #0a1b41;
    --text-primary: #ededed;
    --text-primary-light: #d3d3d3;
    --text-secondary: #94a3b8;
    --text-secondary-light: #cbd5e1;
  }
}

body {
    height: 100vh;
    min-height: 540px;
    background: var(--main-primary);
    color: var(--text-primary);
    overflow-x: hidden;
}