@import "tailwindcss";

:root {
  /* Light Mode */
  --main-primary: #ededed;
  --main-primary-light: #d3d3d3;
  --main-secondary: #111111;
  --main-secondary-light: #363636;
  --text-primary: #030e28;
  --text-primary-light: #0a1b41;
  --text-secondary: #475569;
  --text-secondary-light: #64748b;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Mode (Requested Base) */
    --main-primary: #111111;
    --main-primary-light: #363636;
    --main-secondary: #030e28;
    --main-secondary-light: #0a1b41;
    --text-primary: #ededed;
    --text-primary-light: #d3d3d3;
    --text-secondary: #94a3b8;
    --text-secondary-light: #cbd5e1;
  }
}

body {
    height: 100vh;
    min-height: 540px;
    background: var(--main-primary);
    color: var(--text-primary);
}